.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
background-color: white;
border-bottom:1px solid #9b9999;
}

.logo {
  
  display:grid;
  grid-template-columns:3rem 7rem;
  text-align: center;
}  
.logo img{
  width:50px;
  height:50px;
}
.logo p{
  margin: 0px;
  font-size: 2rem;
  font-weight: 900;
}
  .links hr{
    align-self: center;
    justify-self: center;
    margin:0px;
    display: none;
    height: 0.1rem;
    width: 80%;
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(41,41,166);
  }
.links {
  display: flex;
  gap: 2rem;
  align-items: center;
}


.link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}


.link:hover hr{
  display: block;

}

  
  .create-account-button {
    padding: 1rem 2rem;
    background-color:#5f6fff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
  }
  